.container{
    border: 2px solid red;
    /* height: 100%; */
        height: 99vh;
        display: flex;
        /* flex-wrap: wrap; */
overflow:hidden;
align-items: center;
justify-content: center;
}

.parent-box{
display: flex;
align-items: center;
justify-content: center;
height: 400px;
width:500px;
border: 2px solid blue;
overflow: hidden;
flex-wrap: wrap;
align-content: center;
gap: 10px;
}

.box{
    /* flex-grow: 1; */
    flex-shrink: 0;
    border:2px solid white;
    background-color: blueviolet;
    height: 100px;
    width:100px;
}

.container-g{
    display: grid;
    border: 2px solid red;
    height: 99vh;
    overflow:hidden;
    /* grid-template-columns: 200px 400px; */
    /* grid-template-rows: 100px 100px 100px; */
        grid-auto-columns: 100px  ;
        grid-auto-rows:100px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;

}

.box-g{
    border:2px solid white;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
}