.App {
  text-align: center;
  display: grid;
  /* place-items: center; */
  place-content: center;
  height: 100vh;
  gap: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aurora-btn {
  position: relative;
  padding: 16px 48px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  overflow: hidden;
  z-index: 1;
  transition: transform 0.2s ease;
}

/* PRESS EFFECT */

.aurora-btn:active {
  transform: scale(0.94);
}

/* GRADIENT BORDER */

.aurora-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    #ff4ecd,
    #7b5cff,
    #00eaff,
    #ff4ecd
  );
  background-size: 400% 400%;
  animation: flow 4s linear infinite;
  z-index: -1;
}

/* INNER MASK */

.aurora-btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: #0b0f19;
  z-index: -1;
}

/* HOVER GLOW */

.aurora-btn:hover {
  box-shadow:
    0 0 25px rgba(123, 92, 255, 0.6),
    0 0 50px rgba(0, 234, 255, 0.4);
}

/* GRADIENT ANIMATION */

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("./bg.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
